<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            🐾 Salvar Vidas
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContenido">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        Acerca
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Animales" asp-action="index">
                        Animales
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="AnimalEnAdopcion" asp-action="index">
                        Animales en Adopción
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="AnimalPerdidoEncontrado" asp-action="index">
                        Animales Perdidos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="AnimalEnTransito" asp-action="index">
                        Animales en Tránsito
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="AnimalComunitario" asp-action="Index">
                        Animales Comunitarios
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Familia" asp-action="Index">
                        Familia
                    </a>
                </li>

                <li class="nav-item">
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                        <button type="submit" class="nav-link btn btn-link text-danger">
                            Salir
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>