@model PaginaparaSalvarVidas.Models.AnimalEnTransito

@{
    ViewData["Title"] = "Registrar Tránsito";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Registrar Tránsito</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Id del Animal</label>
        <input asp-for="AnimalId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Id de la Familia</label>
        <input asp-for="FamiliaId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FechaIngreso"></label>
        <input asp-for="FechaIngreso" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FechaSalida"></label>
        <input asp-for="FechaSalida" type="date" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">💾 Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>