@model PaginaparaSalvarVidas.Models.Familia

@{
    ViewData["Title"] = "Eliminar Familia";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Eliminar Familia</h2>

<h4>¿Está seguro que desea eliminar esta familia?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>