@model PaginaparaSalvarVidas.Models.AnimalComunitario

@{
    ViewData["Title"] = "Crear Animal Comunitario";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Crear Animal Comunitario</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Id del Animal</label>
        <input asp-for="AnimalId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Lugar Habitual</label>
        <input asp-for="LugarHabitual" class="form-control" />
        <span asp-validation-for="LugarHabitual" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input asp-for="AptoParaAdopcion" class="form-check-input" />
        <label asp-for="AptoParaAdopcion" class="form-check-label"></label>
    </div>

    <br />

    <button type="submit" class="btn btn-success">💾 Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>